<mat-card>
  <mat-card-title>
    <mat-card-subtitle>{{ element.studyType }}</mat-card-subtitle>
    <span>{{ element.institution }}:</span>
    <time dateTime="{{ element.startDate | date : 'yyyy' }}">
      {{ element.startDate | date : 'yyyy' }}
    </time>
    -
    <time dateTime="{{ element.endDate | date : 'yyyy' }}">
      {{ element.endDate | date : 'yyyy' }}
    </time>
  </mat-card-title>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <address>{{ element.institution }}<br />{{ element._city }}</address>
    <mat-chip-listbox *ngIf="element.courses.length > 0">
      <mat-chip *ngFor="let course of element.courses">{{ course }}</mat-chip>
    </mat-chip-listbox>
  </mat-card-content>

  <mat-card-actions *ngIf="element.url">
    <a mat-flat-button color="accent" href="{{ element.url }}">URL</a>
  </mat-card-actions>
</mat-card>
