div.meter {
  width: 100%;
  background-color: #111;
}

div.meter > div {
  height: 1em;
  background-color: #2187e7;

  transform-origin: left;
  animation: width-animation 2s ease normal;
}

div.meter > div.green {
  background-color: var(--primary-color);
}

div.meter > div.red {
  background-color: red;
}

div.meter > div.orange {
  background-color: orange;
}

div.meter > div.blue {
  background-color: blue;
}

@keyframes width-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
