h1 {
  padding: 8px;
  background-color: var(--secondary-header-title-color);
}

h2 {
  margin: 2px;
  margin-left: 0px;

  font-size: 1.2em;
  font-weight: bold;
}

section {
  padding: 8px;
}

a {
  color: var(--theme-ice);
  text-decoration: none;
  padding: 2px;
}

a:hover {
  background-color: var(--theme-ice);
  border-color: var(--theme-ice);
  color: var(--social-icon-text-color);
  transition: all 0.5s ease;
  border-radius: 3px;
}
