<nav id="navigation">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TEST</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="Button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</nav>
<main>
  <app-resume></app-resume>
</main>
<footer></footer>
