<main>
  <div class="grid-container">
    <section>
      <app-education [items]="educationData"></app-education>
    </section>
    <div id="rightcol">
      <header>
        <nav>
          <mat-toolbar color="primary">
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with menu icon"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <span>{{ resumeData.basics.name }}</span>
            <span class="example-spacer"></span>
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </button>
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with share icon"
            >
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
        </nav>
      </header>
      <section id="profile-name">
        <app-flipcard>
          <div front>
            <app-name
              [name]="resumeData.basics.name"
              [title]="resumeData.basics.label"
            ></app-name>
          </div>
          <div back>
            <app-vcard></app-vcard>
          </div>
        </app-flipcard>
      </section>
      <app-social [items]="socialProfiles"></app-social>
    </div>
  </div>
</main>
<footer></footer>
