<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Angaben gem&auml;&szlig; &sect; 5 TMG</mat-card-subtitle>
    <mat-card-title>Impressum</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Andreas Pieger<br />
      Liesenfelder Str. 2<br />
      56281 Emmelshausen
    </p>
    <p>
      Telefon: +49 176 242 601 46<br />
      E-Mail: admin@pieger.online
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Datenschutzerklärung</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-dsgvo></app-dsgvo>
  </mat-card-content>
</mat-card>
