<mat-card>
  <mat-card-title>
    <mat-card-subtitle>{{ element.name }}</mat-card-subtitle>
    <span>{{ element.position }}:</span>
    <time dateTime="{{ element.startDate | date : 'yyyy-MM-dd' }}">
      {{ element.startDate | date : 'MMMM yyyy' }}
    </time>
    -
    <time dateTime="{{ element.endDate | date : 'yyyy-MM-dd' }}">
      {{ element.endDate | date : 'MMMM yyyy' }}
    </time>
  </mat-card-title>
  <!-- <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  /> -->
  <mat-card-content>
    <p>{{ element.description }}</p>
    <mat-chip-listbox *ngIf="element.highlights.length > 0">
      <mat-chip *ngFor="let highlight of element.highlights">{{ highlight }}</mat-chip>
    </mat-chip-listbox>
  </mat-card-content>

  <mat-card-actions *ngIf="element.url">
    <a mat-flat-button color="accent" href="{{ element.url }}">URL</a>
  </mat-card-actions>
</mat-card>
