h1 {
  padding: 8px;
  background-color: var(--secondary-header-title-color);
}

h2 {
  margin: 2px;
  margin-left: 0px;

  font-size: 1.2em;
  font-weight: bold;
}

section {
  padding: 8px;
}
