.grid-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#rightcol {
  background-color: var(--secondary-background-color);
  backdrop-filter: blur(4.2px);
  opacity: 0.9;

  color: var(--secondary-text-color);
}

#rightcol > section {
  margin-top: 10px;
}

#profile-name {
  max-height: 100px;
}
