<div class="grid-container">
  <div *ngIf="leftColumn" id="leftcol">
    <section id="work">
      <app-work [items]="workData"></app-work>
    </section>
    <section id="education">
      <app-education [items]="educationData"></app-education>
    </section>
  </div>
  <div *ngIf="rightColumn" id="rightcol">
    <section id="profile-name">
      <app-flipcard>
        <div front>
          <app-name [name]="basics.name" [title]="basics.label"></app-name>
        </div>
        <div back>
          <app-vcard></app-vcard>
        </div>
      </app-flipcard>
    </section>
    <app-social *ngIf="socialProfiles.length > 0" [items]="socialProfiles"></app-social>
    <section id="profile-basics">
      <app-personal [item]="basics" [location]="location"></app-personal>
      <app-skills *ngIf="skillData.length > 0" [items]="skillData"></app-skills>
      <app-languages *ngIf="languageData.length > 0" [items]="languageData"></app-languages>
    </section>
  </div>
</div>
<div *ngIf="sideSwitch" id="sideswitch">
  <button
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a home icon"
    (click)="switchSidebar()"
  >
    <mat-icon>sync_alt</mat-icon>
  </button>
</div>
