* {
  --white: #ffffff;
  --black: #000000;

  --blue-100: #1976d2;
  --blue-200: #125699;

  --gray-100: #eee;
  --gray-200: #fafafa;
  --gray-300: #c2c3c4;
  --gray-400: #888;

  --dark-gray-100: rgb(58, 58, 58);
  --dark-gray-200: #303030;
  --dark-gray-300: rgba(27, 31, 35, 0.2);
  --dark-gray-400: rgba(27, 31, 35, 0.35);
  --dark-gray-500: rgb(15, 15, 16);

  --midnight-gray: #484749;
}
