/* You can add global styles to this file, and also import other style files */
@import 'colors.scss';
@import 'colors-light.scss';
@import 'colors-dark.scss';
@import 'assets/css/fonts.scss';
@import 'material-icons/iconfont/material-icons.scss';
@import 'theme.scss';

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background);

  background-image: url('assets/tim-stief-YFFGkE3y4F8-unsplash.jpg');
  // backdrop-filter: blur(1.5px);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
