<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Andreas Pieger</mat-card-title>
    <mat-card-subtitle>Software Developer, Ausbilder, Trainer, Scrum Master</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Hi! Mein Name ist Andreas Pieger. Seit über 20 Jahren beschäftige ich mich der Programmierung.
      Privat und auch beruflich. Ich fühle mich sowohl im Frontend- als auch im Backend sehr wohl. Ich
      schätze allerdings, dass ich dem Backend etwas mehr abgewinnen kann.
    </p>
    <p>
      Seit mehreren Jahren bin ich beruflich immer weiter in die Ausbilder- und Trainerrolle geschlüpft
      und habe inzwischen mehrere Generationen Entwickler (hoffentlich positiv) geprägt.
    </p>
    <p>
      Last but not least, bin ich ein Verfechter der agilen Arbeitsweise. Je näher am Kunden gearbeitet
      wird, und je besser er in den Prozess involviert wird, desto besser kann man heraushören was der
      Kunde wirklich braucht und Lösungen gemeinsam erarbeiten. Davon bin ich absolut überzeugt.
    </p>
    <p>
      Auf dieser Seite - immer noch im Aufbau befindlichen Seite, möchte ich gerne meinen Lebenslauf und
      meine Projekte vorstellen. Wollen Sie mich kontaktieren? Dann können Sie dies gerne per
      <a href="mailto:linkedin@vantero.de"><fa-icon [icon]="faMail"></fa-icon></a> oder
      <a href="https://www.linkedin.com/in/andreas-pieger/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
      tun.
    </p>
    <p>Ich freue mich von Ihnen zu hören!</p>
  </mat-card-content>
</mat-card>
