.header-image {
  background-image: url('/assets/images/avatar.jpg');
  background-size: cover;
}

a {
  color: var(--theme-ice);
  text-decoration: none;
  padding: 2px;
}

a:hover {
  background-color: var(--theme-ice);
  border-color: var(--theme-ice);
  color: var(--white);
  transition: all 0.5s ease;
  border-radius: 3px;
}
